<mat-card class="example-card">
	<form class="example-form">
		<mat-card-title>Enter Job Offer</mat-card-title>
		<mat-card-content>
				<mat-form-field class="example-full-width" appearance="fill">
					<mat-label>Company</mat-label>
                    <input matInput name="company">
                </mat-form-field>
                <br>
				<mat-form-field class="example-full-width" appearance="fill">
					<mat-label>Job Title</mat-label>
					<input matInput name="job title" >
                </mat-form-field>
                <br>
				<mat-form-field class="example-full-width" appearance="fill">
					<mat-label>Location</mat-label>
					<input matInput name="location" >
                </mat-form-field>
                <br>
				<mat-form-field class="example-full-width" appearance="fill">
					<mat-label>Base Salary (yr)</mat-label>
                    <input matInput number="base salary (yr)"> 
                    <!-- ="base salary (yr)" -->
                </mat-form-field>
                <br>
				<mat-form-field class="example-full-width" appearance="fill">
					<mat-label>Signing Bonus</mat-label>
					<input matInput number="signing bonus" >
                </mat-form-field>
                <br>
				<mat-form-field class="example-full-width" appearance="fill">
					<mat-label>Cash Bonus (yr)</mat-label>
					<input matInput number="cash bonus (yr)" >
                </mat-form-field>
                <br>
				<mat-form-field class="example-full-width" appearance="fill">
					<mat-label>Stock/Options Bonus (yr)</mat-label>
					<input matInput number="stock/options bonus (yr)" >
                </mat-form-field>
                <br>
				<mat-form-field class="example-full-width" appearance="fill">
					<mat-label>401k Match</mat-label>
					<input matInput number="401k match" >
                </mat-form-field>
                <br>
				<mat-form-field class="example-full-width" appearance="fill">
					<mat-label>Time Off (PTO)</mat-label>
					<input matInput number="time off (pto)" >
                </mat-form-field>
                <br>
				<mat-form-field class="example-full-width" appearance="fill">
					<mat-label>Remote Days</mat-label>
					<input matInput number="remote days" >
                </mat-form-field>
		</mat-card-content>
		<mat-card-actions>
			<button color="primary" mat-raised-button type="submit">Submit</button>
		</mat-card-actions>
	</form>
</mat-card>